body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* 
.red {
  background-color: red
}

.black {
  background-color: black
}

.button{
  color: white;
  margin: 5px;
  font-size: 20px;
  border-radius: 8px;
}

.right{
  float: right;
}

.left{
  float: left
}

.run{
  background-color: green
} */
